* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #fff; 
    color: #333;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-mode {
    background-color: #333; 
    color: #fff;
}

h1, h2 {
    color: inherit;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    font-size: 12px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

header {
    background-color: #f1897f9d;
    color: white;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    transition: background-color 0.5s ease;
    width: 100%;
}

body.dark-mode header {
    background-color: #222; /* Dark mode */
}

nav ul {
    display:flex;
    justify-content: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
}

body.dark-mode nav ul li a:hover {
    background-color: black;
    color: white;
}

nav ul li button:hover {
    background-color: #555;
    color: white;
}

/* Home Section */
.home-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 2rem;
    scroll-margin-top: 100px;
}

.home-section h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.home-section p {
    font-size: 1.5rem;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.5;
}

/* Image inside Home Section */
.home-section img {
    height: 320px;
    width: 300px;
    border-radius: 40%;
}

/* About Section */
.about-section {
    padding: 4rem 2rem;
    background-color: #fafafa;
    text-align: center;
    scroll-margin-top: 100px;
}

body.dark-mode .about-section {
    background-color: black; /* Dark mode */
}

.about-section h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.about-section p {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}

/* Education Section */
.education-section {
    padding: 4rem 2rem;
    background-color: #fafafa;
    text-align: center;
    scroll-margin-top: 10px;
}

.education-section h2 {
    font-size: 2.5rem;
    /* margin-bottom: 1rem; */
}

body.dark-mode .education-section {
    background-color: black; /* Dark mode */
}

.education-section h5 {
    font-size: 1.2rem;
    max-width: 800px;
    padding-top: 20px;
    padding-bottom: 0px;
    margin: 0 auto;
    /* line-height: 1.6; */
}

/* Skills Section */
.skills-section {
    padding: 4rem 2rem;
    background-color: #fafafa;
    text-align: center;
    scroll-margin-top: 100px;
}

body.dark-mode .skills-section {
    background-color: black; /* Dark mode */
}

.skills-section h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.skills-section ul {
    margin: 0;
    padding: 0;
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.skills-section ul li {
    height: 40px;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    width: 200px;
    box-shadow: 2px 10px 10px rgba(228, 9, 9, 0.1);
}

/* Projects Section */
.projects-section {
    padding: 4rem 2rem;
    background-color: #ffffff;
    text-align: center;
    scroll-margin-top: 40px;
}

body.dark-mode .projects-section {
    background-color: black; /* Dark mode */
}

.projects-section h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.project-card {
    background-color: #f0f0f0;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

body.dark-mode .project-card {
    background-color: #666; /* Dark mode */
}

.project-card h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.project-card p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.project-card a {
    display: inline-block;
    margin-right: 1rem;
    text-decoration: none;
    color: #333;
    padding: 0.5rem 1rem;
    border: 1px solid #333;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

body.dark-mode .project-card a {
    color: #fff; /* Dark mode link color */
    border-color: #fff;
}

.project-card a:hover {
    background-color: #333;
    color: white;
}

/* Contact Section */
.contact-section {
    padding: 4rem 2rem;
    background-color: #333;
    color: white;
    text-align: center;
    scroll-margin-top: 100px;
}

body.dark-mode .contact-section {
    background-color: black; /* Dark mode */
}

.contact-section h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.contact-section p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.contact-section a {
    color: #4caf50;
    text-decoration: none;
    font-size: 1.2rem;
}

.contact-section a:hover {
    text-decoration: underline;
}
